<main role="main" id="home-main" class="one-column template-main">
	{{ content_for_index }}
	<footer id="home-footer">
		<p><a class="btn" href="/products">Shop all products</a></p>
	</footer>
</main>
