#collection-main {
}
#collection-main > header {
	margin-bottom: 4em;
}
#collection-main > header p {
	text-align: justify;
	column-count: 2;
	column-gap: 30px;
}

#collection-main > main {
	text-align: center;
}
