body {
	background-color: white;
}
#fine-print {
	color: white;
}

.gray,
body {
	color: #58595b;
}
.gray--bg,
#fine-print {
	background-color: #58595b;
}

.strong-aqua,
.btn,
a {
	color: #0cadb6;
}
.strong-aqua--bg,
footer > hr {
	background-color: #08adb6;
}
.light-aqua--bg,
body > footer {
	background-color: #b4e1e3;
}

.yellow--bg,
.btn {
	background-color: #fecc0b;
}

.light-tan--bg,
#top-bar {
	background-color: #ffe7a4;
}

#top-bar a {
	color: inherit;
}

#top-bar a:hover {
	color: #15aeb6;
}
