body {
	background-color: white;
}
#fine-print {
	color: white;
}

body,
.gray {
	color: #58595b;
}
#fine-print,
.gray--bg {
	background-color: #58595b;
}

.btn,
a,
.strong-aqua {
	color: #0cadb6;
}
footer > hr,
.strong-aqua--bg {
	background-color: #08adb6;
}
footer > hr,
.strong-aqua--border {
	border-color: #08adb6;
}
body > footer,
.light-aqua--bg {
	background-color: #b4e1e3;
}

.btn,
.yellow--bg {
	background-color: #fecc0b;
}

#top-bar,
.light-tan--bg {
	background-color: #ffe7a4;
}

#top-bar a {
	color: inherit;
}

#top-bar a:hover {
	color: #15aeb6;
}
