.btn {
	font-weight: bold;
}
input {
	text-transform: uppercase;
}
.sans--bold,
input,
#top-bar {
	font-family: "FuturaBT-Bold", sans-serif;
	font-weight: bold;
}

#top-bar {
	font-size: 0.8em;
	letter-spacing: 1px;
}
input {
	letter-spacing: inherit;
}
