@font-face {font-family: 'AmericanTypewriterITCPro-Med';src: url('/css/fonts/35BCC2_0_0.eot');src: url('/css/fonts/35BCC2_0_0.eot?#iefix') format('embedded-opentype'),url('/css/fonts/35BCC2_0_0.woff2') format('woff2'),url('/css/fonts/35BCC2_0_0.woff') format('woff'),url('/css/fonts/35BCC2_0_0.ttf') format('truetype');}
@font-face {font-family: 'AmericanTypewriterITCPro-Bold';src: url('/css/fonts/35BCC2_1_0.eot');src: url('/css/fonts/35BCC2_1_0.eot?#iefix') format('embedded-opentype'),url('/css/fonts/35BCC2_1_0.woff2') format('woff2'),url('/css/fonts/35BCC2_1_0.woff') format('woff'),url('/css/fonts/35BCC2_1_0.ttf') format('truetype');}

@font-face {font-family: 'FuturaBT-BookItalic';src: url('/css/fonts/33649D_0_0.eot');src: url('/css/fonts/33649D_0_0.eot?#iefix') format('embedded-opentype'),url('/css/fonts/33649D_0_0.woff2') format('woff2'),url('/css/fonts/33649D_0_0.woff') format('woff'),url('/css/fonts/33649D_0_0.ttf') format('truetype');}
@font-face {font-family: 'FuturaBT-Bold';src: url('/css/fonts/33649D_1_0.eot');src: url('/css/fonts/33649D_1_0.eot?#iefix') format('embedded-opentype'),url('/css/fonts/33649D_1_0.woff2') format('woff2'),url('/css/fonts/33649D_1_0.woff') format('woff'),url('/css/fonts/33649D_1_0.ttf') format('truetype');}
@font-face {font-family: 'FuturaBT-Book';src: url('/css/fonts/33649D_2_0.eot');src: url('/css/fonts/33649D_2_0.eot?#iefix') format('embedded-opentype'),url('/css/fonts/33649D_2_0.woff2') format('woff2'),url('/css/fonts/33649D_2_0.woff') format('woff'),url('/css/fonts/33649D_2_0.ttf') format('truetype');}

p,
.serif {
	font-family: 'AmericanTypewriterITCPro-Med',serif;
}
h1, h2, h3, h4,
.serif--bold {
	font-family: 'AmericanTypewriterITCPro-Bold',serif;
}

body > footer p,
input,
.sans {
	font-family: 'FuturaBT-Book',sans-serif;
}
.btn,
#top-bar,
.sans--bold {
	font-family: "FuturaBT-Bold", sans-serif;
}

.btn {
	cursor: pointer;
	outline-style: none !important;
}

#top-bar {
	font-size: 0.8em;
	letter-spacing: 1px;
}
input {
	letter-spacing: inherit;
}
body > footer h2 {
	letter-spacing: 0.1em;
}
