.btn {
	font-weight: bold;
	cursor: pointer;
	outline-style: none !important;
}
.sans--bold,
input,
#top-bar {
	font-family: "FuturaBT-Bold", sans-serif;
	font-weight: bold;
}

#top-bar {
	font-size: 0.8em;
	letter-spacing: 1px;
}
input {
	letter-spacing: inherit;
}
body > footer h2 {
	letter-spacing: 0.1em;
}
