body > footer {
	position: relative;
	margin-top: 4em;
	text-align: center;
	padding-top: 20px;
	background-image: url(/img/decorators/repeater-wave.png);
	background-repeat: repeat-x;
}
body > footer::before {
	content:'';
	background: transparent url(/img/logo.svg) no-repeat center top / auto 150px;
	position: absolute;
	width: 100px;
	height: 100px;
	top: -55px;
	left: 50%;
	margin-left: -360px;
}
body > footer h2,
body > footer article p {
	margin: 0;
}
body > footer article {
	line-height: 1.4;
}
body > footer article > header {
	line-height: 1.6;
}
body > footer h2 {
	text-transform: uppercase;
	margin-top: 1.7em;
}
body > footer form {
	margin: 1.2em auto 2em;
}

#footer-cols {
	display: flex;
	justify-content: space-between;
	font-size: 0.9em;
	padding-bottom: 4%;
}
#footer-cols > article,
#footer-cols > nav,
#footer-cols > section {
	flex-basis: 33.33%;
	flex-shrink: 1;
}
#footer-cols > article,
#footer-cols > section {
	max-width: 250px;
	flex-shrink: 0;
}
#footer-cols > section {
	text-align: left;
	flex-shrink: 0;
}
#footer-cols h2 {
	font-size: 1.1em;
	margin-top: 1em;
}
#footer-cols ul,
#footer-cols main {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.6;
}
#footer-cols > article ul {
	margin-top: 1.1em;
	font-size: 1.5em;
}
#footer-cols > article li {
	display: inline-block;
}
#footer-cols > article ul a {
	padding: 0.2em;
}
#footer-cols p {
	margin-top: 1em;
}
#footer-cols p:first-child {
	margin-top: 0.6em;
}
#footer-cols h2 > a {
	text-transform: none;
	font-size: 0.9em;
}
#footer-cols > section ul {
	margin-top: 1em;
}
#footer-cols > section img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

#fine-print {
	text-transform: uppercase;
	font-size: 0.6em;
	line-height: 4;
	margin-bottom: 0;
}
#fine-print a {
	color: inherit;
}
