body > footer {
	text-align: center;
	padding-top: 20px;
	background-image: url(/img/decorators/repeater-wave.png);
	background-repeat: repeat-x;
}
body > footer h2,
body > footer article p {
	margin: 0;
}
body > footer article {
	line-height: 1.4;
}
body > footer article > header {
	line-height: 1.6;
}
body > footer h2 {
	text-transform: uppercase;
	margin-top: 1.7em;
}
body > footer form {
	margin: 1.2em auto 2em;
}

#footer-cols h2 {
	font-size: 1.1em;
	margin-top: 1em;
}
#footer-cols ul,
#footer-cols main {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.6;
}
#footer-cols p {
	margin-top: 1em;
}
#footer-cols p:first-child {
	margin-top: 0.6em;
}
