input {
	border-style: none;
}

#top-bar label {
	visibility: hidden;
}
#top-bar input[type="search"] {
	background-color: transparent;
	visibility: visible;
	position: absolute;
	left: 30px;
	height: 32px;
}
/*
#top-bar input[type="search"]:focus {
	outline: 1px solid green;
}
*/
#top-bar input[type="image"] {
	float: left;
}
