body > header input,
body > footer input {
	border-style: none;
	outline-style: none;
	height: 32px;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"] {
	padding: 0.3em 0.6em;
}
input[type="number"] {
	width: 3.2em;
	padding-right: 0;
	text-align: center;
}
input[type="number"][max="9"] {
	width: 2.7em;
}
input.btn {
	border-style: none;
}

#top-bar label {
	display: inline-block;
	position: relative;
	white-space: nowrap;
	width: 0;
	visibility: hidden;
}
#top-bar input[type="search"] {
	background-color: transparent;
	visibility: visible;
	position: absolute;
	left: 0;
	text-transform: uppercase;
	height: 32px;
	font-weight: bold;
}
/*
#top-bar input[type="search"]:focus {
	outline: 1px solid green;
}
*/
#top-bar input[type="image"] {
	float: left;
	background-color: transparent;
	padding: 6px 3px;
}

form[name="newsletter"] {
	display: inline-block;
	border: 1px solid green;
}
form[name="newsletter"] input {
	height: 37px;
}
form[name="newsletter"] input[type="email"] {
	padding: 0 1em 0 0.5em;
}
form[name="newsletter"] input[type="submit"] {
	float: right;
	border-left: 1px solid green;
}
