* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
img,
video,
object,
iframe {
	max-width: 100%;
}
.image-link {
	display: inline-block;
}
.image-link img {
	display: block;
}

.btn {
	display: inline-block;
	padding: 0.5em 1em;
	text-transform: uppercase;
	cursor: pointer;
	outline-style: none !important;
}
input {
	letter-spacing: inherit;
}
body > footer h2 {
	letter-spacing: 0.1em;
}

body > main {
	position: relative;
	min-height: 100vh;
}
body > main,
footer hr,
#top-bar > main,
#footer-cols,
#main-nav,
.main-width {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
a > svg {
	pointer-events: none;
}

nav ul,
ul.slides,
.product-grid,
.horizontal-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	list-style-type: none;
	width: 100%;
}

ul.image-grid,
ul.slides {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0.8em;
}
.image-grid > li,
.slides > li {
	display: inline-block;
}
.image-grid > li {
	width: calc(25vw - 30px);
	max-width: 200px;
	padding: 1em;
}
.image-grid h3 {
	font-size: 0.9em;
	font-weight: normal;
	text-transform: none;
	margin-bottom: 0;
}
.image-grid p {
	font-size: 0.8em;
	margin-top: 0.1em;
	font-weight: bold;
}
.image-grid img {
	width: 100%;
	height: calc(25vw - 30px);
	object-fit: contain;
}

#home-main > section,
#collection-main > main,
.heading-with-bar {
	border-top: 1px solid yellow;
}
#home-main h2,
#collection-main h2,
.heading-with-bar h2 {
	font-size: 1.1em;
	background-color: white;
	position: relative;
	bottom: 1.6em;
	display: inline-block;
	padding: 0 1em;
	margin-bottom: 0;
}
