* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.image-link {
	display: inline-block;
}
.image-link img {
	display: block;
}

.btn {
	display: inline-block;
	padding: 0.5em 1em;
	text-transform: uppercase;
	cursor: pointer;
	outline-style: none !important;
}
input {
	letter-spacing: inherit;
}
body > footer h2 {
	letter-spacing: 0.1em;
}

body > main {
	min-height: 100vh;
}
body > main,
footer hr,
#top-bar > main,
#footer-cols,
#main-nav,
.main-width {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
a > svg {
	pointer-events: none;
}

nav ul,
.horizontal-list {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	list-style-type: none;
	width: 100%;
}
