nav {
	width: 100%;
	text-transform: uppercase;
}
nav a {
	display: block;
	text-decoration: none;
}

nav ul ul {
	display: block;
	display: none; /* Update with js */
}
nav ul ul a {
	padding: 1em;
}

#top-bar nav {
	max-width: 214px;
}
#top-bar nav li {
	position: relative;
}
#top-bar nav li::after {
	content: '|';
	font: lighter 1.4em/1.9 sans-serif;
	position: absolute;
	top: 0;
	right: -0.8em;
}
#top-bar nav li:last-child::after {
	content: none;
}

#main-nav {
	border-top: 1px solid gray;
	letter-spacing: 2px;
	font-size: 0.9em;
	height: 2.7em;
	overflow: visible;
}
#main-nav a {
	padding: 0.5em 0.5em 0.75em;
}

#footer-cols nav {
	text-transform: none;
}
#footer-cols nav ul {
	display: block;
}
#footer-cols nav li {
	display: block;
}
