nav {
	width: 100%;
	text-transform: uppercase;
}
nav ul {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}
nav li {
	display: inline-block;
}
nav a {
	display: block;
	text-decoration: none;
}

nav ul ul {
	display: none;
}

#top-bar nav {
	max-width: 250px;
}
#top-bar nav li {
	position: relative;
}
#top-bar nav li::after {
	content: '|';
	font: lighter 1.4em/1.9 sans-serif;
	position: absolute;
	top: 0;
	right: -0.8em;
}
#top-bar nav li:last-child::after {
	content: none;
}

#main-nav {
	border: 1px solid #59585c;
	border-left-style: none;
	border-right-style: none;
	padding: 0.5em 0 0.75em;
}

#footer-cols nav {
	text-transform: none;
}
#footer-cols nav ul {
	display: block;
}
#footer-cols nav li {
	display: block;
}
