/*
 * =======================================================
 * GENERAL STYLES
 * =======================================================
 */
* {
	box-sizing: border-box;
}
hr {
	visibility: hidden;
}
a {
	text-decoration: none;
}
.template-main a:not(.btn):hover {
	text-decoration: underline;
}
img,
video,
object,
iframe {
	max-width: 100%;
}
.image-link {
	display: inline-block;
	text-align: center;
}
.image-link img {
	display: block;
}

.btn {
	display: inline-block;
	padding: 0.6em 1.3em;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
	outline-style: none !important;
	border-style: none;
}
input.btn {
	padding: 0 1.2em;
}
input,
textarea {
	border-width: 1px;
	border-style: solid;
}
input {
	outline-style: none !important;
	letter-spacing: inherit;
}
select {
	padding: 0.5em 0.7em;
	color: inherit;
	font-size: 0.9em;
}
#main-footer h2 {
	letter-spacing: 0.1em;
}

.template-main {
	position: relative;
	padding: 3% 0 10%;
	min-height: calc(100vh - 620px); /* Roughly the size of header + footer + fine print. */
}
#home-main,
#collection-main {
	padding-top: 0;
}
footer hr,
#top-bar > main,
#footer-cols,
.template-main,
.main-width {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 8px;
	padding-right: 8px;
}
a > svg {
	pointer-events: none;
}

nav {
	width: 100%;
	text-transform: uppercase;
}
nav a {
	display: block;
	text-decoration: none;
}

nav ul,
.horizontal-list {
	display: flex;
	justify-content: space-between;
}
nav ul,
ul.slides,
.product-grid,
.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
}
ul.image-grid,
ul.slides {
	position: relative;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}
.image-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5.5vw 2em;
	text-align: center;
}
ul.slides {
	display: block;
	width: 100%;
}
.slides > li {
	display: block;
	width: 100vw;
	max-width: 100%;
}
.js .slides > li {
	position: absolute;
	visibility: hidden;
}
.js .slides > li:first-child {
	position: relative;
	visibility: visible;
}
ul.slick-dots li {
	margin: 0 4px;
}
ul.slick-dots li button {
	border: 3px solid gray;
	background-color: white;
	border-radius: 50%;
	transform: scale(0.6);
}
ul.slick-dots button::before {
	display: none;
}
.image-grid h3 {
	font-size: 1em;
	font-weight: normal;
	text-transform: none;
	margin: 0.2em 0 0;
	letter-spacing: 0;
}
.image-grid p {
	font-size: 0.9em;
	margin: 0.1em 0 0;
	font-weight: bold;
}
.image-grid .image-link {
	background-color: white;
}
.image-grid img {
	border: 1px solid aqua;
	width: 100%;
	height: calc(50vw - 30px);
	max-height: 192px;
	object-fit: contain;
	padding: 8px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"] {
	padding: 0.3em 0.6em;
}
input[type="number"] {
	width: 3.2em;
	padding-right: 0;
	text-align: center;
}
input[type="number"][max="9"] {
	width: 2.7em;
}
input.btn {
	border-style: none;
	line-height: 3;
}
.pagination {
	font-size: 1.2em;
	word-spacing: 0.6em;
	margin-top: 4%;
}
.pagination .next, .pagination .prev {
	word-spacing: 0;
}
.oneline-form {
	display: flex;
	justify-content: center;
}
.oneline-form label {
}
.oneline-form input, #search-main button {
	border-style: none;
	height: 32px;
	line-height: 32px;
}
.oneline-form input {
	width: 100%;
}
.oneline-form button {
	padding: 0 1em;
}
.zoom-init {
	cursor: zoom-in;
}
.js .no-cookies {
	display: none;
}
.js.supports-no-cookies .has-cookies {
	display: none;
}
.js.supports-no-cookies .no-cookies {
	display: block;
}
/*
 * =======================================================
 * HEADER STYLES
 * =======================================================
 */
#top-bar { z-index: 3; }
#main-nav { z-index: 2; }
#main-header {
	padding-top: 32px;
}
#top-bar {
	position: fixed;
	top: 0;
	width: 100%;
}
#top-bar {
	font-size: 0.7em;
	height: 32px;
	line-height: 32px;
	text-transform: uppercase;
	padding: 0 3em;
	letter-spacing: 1px;
	text-align: right;
}
#top-bar form {
	float: left;
}
#top-bar nav {
	display: inline-block;
	margin-right: 32px;
}
#top-bar nav svg {
	display: none;
}
#top-bar .hamburglar {
	position: absolute;
	right: 15px;
	display: inline-block;
	background-color: transparent;
	margin: 3px 0 0;
	transform: scale(0.4);
	transform-origin: center top;
}
#top-bar .burger-ring {
	transition: opacity 0.2s;
}
#top-bar .is-open .burger-ring {
	opacity: 0;
}

#header-search-form input,
#header-search-form .btn {
	background-color: transparent;
}
#header-search-form .btn {
	padding-right: 0.3em;
}
#header-search-form input[type="search"] {
	text-transform: uppercase;
	font-weight: bold;
}
#header-search-form svg {
	width: 15px;
}

#logo {
	position: relative;
	margin: 0.5em auto 0.4em;
	text-align: center;
}
#logo img {
	height: 4.3em;
}
#logo svg {
	display: none;
}

#top-bar nav {
	width: auto;
}
#top-bar nav li {
	position: relative;
}
#top-bar nav li::after {
	content: '|';
	font: lighter 1.4em/1.9 sans-serif;
	position: absolute;
	top: 0;
	right: -0.8em;
}
#top-bar nav li:last-child::after {
	content: none;
}
#top-bar nav li:last-child svg {
	margin-left: 5px;
}

#main-header > div:last-child {
	border-bottom: 1px solid gray;
}
#main-nav {
	position: fixed;
	top: 0;
	left: 0;
	padding: 32px 0 0;
	height: auto;
	transform: translateY(-100%);
	transition: transform 0.2s;
}
#main-nav.is-open {
	transform: translateY(0);
}
#main-nav {
	letter-spacing: 2px;
	font-size: 0.9em;
	overflow: visible;
}
#main-nav ul {
	display: block;
	text-align: center;
}
#main-nav .site-nav--has-submenu > a {
	padding-bottom: 0;
}
#main-nav ul ul {
	font-size: 0.8em;
	padding-bottom: 0.7em;
}
#main-nav ul ul a {
	padding-bottom: 0.4em;
}
.template-index #main-header > div:last-child,
.template-collection #main-header > div:last-child {
	border-bottom-style: none;
}
#main-nav a {
	padding: 0.5em 0 0.75em;
}

/*
 * =======================================================
 * FOOTER STYLES
 * =======================================================
 */
#shopify-section-footer {
	background-repeat: repeat-x;
	padding-top: 12px;
}
#main-footer {
	padding-top: 1px;
	position: relative;
	text-align: center;
}
#main-footer::before {
	content:'';
	background: transparent none no-repeat center top / auto 150px;
	position: absolute;
	width: 100px;
	height: 100px;
	top: -55px;
	left: 50%;
	margin-left: -290px;
}
#main-footer > div {
	margin-bottom: 1.3em;
}
#main-footer .newsletter-prompt {
	line-height: 1.4;
	margin-bottom: 3.4%;
}
#main-footer .newsletter-prompt > header {
	line-height: 1.6;
}
.newsletter-prompt h2,
.newsletter-prompt p {
	margin: 0;
}
.newsletter-prompt p {
	font-size: 0.95em;
	line-height: 1.5;
}
#main-footer .newsletter-prompt form {
	margin: 1.5em auto 0;
	border: 1px solid aqua;
	display: inline-flex;
}
.newsletter-prompt input, .newsletter-prompt button {
	height: 28px;
	line-height: 28px;
}
.newsletter-prompt input {
	border-right: 1px solid aqua;
	padding: 0 1em 0 0.5em;
}
.newsletter-prompt button {
	font-size: 0.8em;
}
#main-footer {
}
#main-footer hr {
	margin-top: 0;
	border-style: none;
}
#main-footer h2 {
	text-transform: uppercase;
	font-size: 1.2em;
	margin-top: 0.4em;
}
#main-footer .newsletter-prompt h2 {
	margin-top: 1.2em;
}
#footer-cols > .contact-section,
#footer-cols > nav,
#footer-cols > section {
	margin-bottom: 1.2em;
}
#footer-cols h2 {
	font-size: 1em;
	margin: 0;
	text-align: center;
}
#footer-cols ul,
#footer-cols main {
	font-size: 1.05em;
	line-height: 1.4;
}
.contact-section ul {
	margin-top: 1.1em;
	justify-content: center;
}
.contact-section a {
	padding: 0.2em;
	margin: 0 8px;
}
.contact-section svg {
	height: 1.5em;
	width: auto;
}
#footer-cols p {
	margin-top: 1em;
}
#footer-cols p:first-child {
	margin-top: 0.3em;
}
#footer-cols h2 > a {
	text-transform: none;
	font-size: 0.9em;
}
#footer-cols > section ul {
	margin-top: 0.7em;
}
#footer-cols nav {
	text-transform: none;
}
#footer-cols nav ul {
	display: block;
	margin-bottom: 1em;
}
#footer-cols nav li {
	display: block;
}

.instagram-showcase .image-grid {
	max-width: 230px;
	grid: repeat(2, 108px) / repeat(2, 108px);
	grid-gap: 14px 10px;
}
.instagram-showcase li {
	overflow: hidden;
}
.instagram-showcase img {
	padding: 0;
	height: 100%;
	object-fit: cover;
}

#fine-print {
	text-transform: uppercase;
	font-size: 0.5em;
	line-height: 1.5;
	padding: 1.4em 8px;
	margin-bottom: 0;
	letter-spacing: 1px;
}
#fine-print > span {
	white-space: nowrap;
}
#fine-print a {
	color: inherit;
}
/*
 * =======================================================
 * PAGES
 * =======================================================
 */
.template-main h1 {
	font-size: 1.8em;
	margin: 0 0 1.3em;
}
#page-main.single-column > main {
	max-width: 690px;
}
#page-main {
	font-size: 0.9em;
	line-height: 1.8;
}
#page-main,
#page-main h2,
#page-main h3,
#page-main h4 {
	font-family: Helvetica, Arial, sans-serif;
}
#page-main h2,
#page-main h3,
#page-main h4 {
	font-weight: bolder;
	letter-spacing: 0;
}
#page-main h4 {
	margin: 1.2em 0;
	font-size: 1.1em;
}
.page--faqs > main > h4:first-child,
#page-main > main > p:first-child {
	margin-top: 0;
}
@media (min-width: 540px) {
	.two-column h1 {
		margin-bottom: 0.3em;
	}
	.two-column p {
		margin: 0.5em 0;
	}
	.page--about-us h1,
	.page--about-us p {
		float: right;
		width: 50%;
		clear: right;
		vertical-align: top;
	}
	.page--about-us p:nth-of-type(1) {
		float: left;
		width: 46%;
		clear: left;
		vertical-align: top;
	}
}
.page--about-us img {
	width: 100%;
}

#password-main {
	text-align: center;
}
#password-main h2 {
	margin-top: 2em;
}
#password-main input {
	max-width: 200px;
	padding: 0 1em;
	border: 1px solid lightgray;
}
#password-main button {
	max-width: 150px;
}
/*
 * =======================================================
 * HOME
 * =======================================================
 */
#home-main > .shopify-section {
	margin-bottom: 4em;
}
#home-main > .shopify-section:first-child {
	border-style: none;
}
#home-main > .shopify-section:first-child h2 {
	position: absolute;
}
#home-main > .shopify-section:last-of-type {
	margin-bottom: 2em;
}
#home-main h2,
#home-slideshow h3 {
	text-transform: uppercase;
	font-weight: normal;
}
#home-slideshow ul {
	display: block;
}
#home-slideshow .slides > li,
#home-slideshow .slick-slide {
	position: relative;
}
#home-slideshow img {
	display: block;
	width: 100%;
	height: calc(100vh - 170px);
	max-height: 562px;
	object-fit: cover;
}
#home-slideshow aside {
	text-align: center;
	padding: 1.3em 0;
}
#home-slideshow aside h3 {
	margin: 0 0 0.5em;
	font-size: 0.7em;
	font-weight: bold;
}
#home-slideshow aside p {
	font-size: 1.6em;
	margin: 0 0 0.7em;
}
#home-slideshow aside .btn {
}
#home-featured {
	text-align: center;
}
#home-featured ul {
	word-spacing: 0;
}
#home-featured li {
}
#home-featured img {
	padding: 0;
	object-fit: cover;
}
#home-footer {
	display: none;
	text-align: center;
	margin: 1em 0 0;
}
/*
 * =======================================================
 * COLLECTIONS
 * =======================================================
 */
#collection-main > main {
	padding-top: 0.4em;
}
#collection-main h1 {
	text-transform: uppercase;
	bottom: 1.1em;
	letter-spacing: 2px;
}
#collection-main > header {
	margin-bottom: 5.2%;
}
#collection-main > header p {
	text-align: justify;
	column-count: 2;
	column-gap: 30px;
}
#collection-main > main {
	text-align: center;
}
#collection-main ul {
	margin-top: 0.1em;
	font-size: 0.95em;
}
#collection-main > main img {
	padding: 0.7em;
}
/*
 * =======================================================
 * PRODUCT
 * =======================================================
 */
#product-main {
	padding-top: 2.7%;
}
#product-main > nav {
	display: none;
}

#product-images img {
	border: 1px solid gray;
	padding: 8px;
}
#product-images img:not(.zoomImg) {
	width: 100%;
	height: 40vw;
	object-fit: contain;
}
#product-header h1 {
	font-size: 1.5em;
	line-height: 1.2;
	margin-bottom: 0.3em;
}
#product-header p {
	margin-top: 0;
}
#product-header .product-price span {
	font-size: 1.15em;
}
#product-info form {
	margin-top: 2em;
}
#product-info form p {
	margin-bottom: 1.5em;
}
#product-info input[type="number"] {
	margin-right: 0.5em;
	font-size: 1.1em;
}
#product-info .btn {
	font-size: 0.9em;
	line-height: 1.4;
}
#related-products {
	text-align: center;
	padding-top: 1em;
}
#related-products ul {
	padding-bottom: 9%;
}
#related-products p {
	font-size: 1em;
}
#product-colors,
#product-colors-title {
	display: none;
}
.no-js .product__variant {
	display: none;
}
/*
 * =======================================================
 * CART
 * =======================================================
 */
#cart-main h1 {
	font-size: 1.6em;
}
#cart-main article > p {
	display: flex;
	text-align: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 3em 0;
}
#cart-main p > span.title .price {
	font-size: 1em;
}
#cart-main .image,
#cart-main .title {
	flex-basis: 100%;
}
#cart-main .title {
	margin: 0.5em 0;
}
#cart-main .title .price,
#cart-main .title small {
	display: none;
}
#cart-main img {
	max-height: 100px;
}
#cart-main .title a {
	display: block;
	line-height: 1.3;
	margin-bottom: 0.3em;
}
#cart-main .label > strong::after {
	content:':';
}
#cart-main label,
#cart-main .price {
	font-size: 0.85em;
	font-weight: bold;
}
#cart-main .remove {
	font-size: 0.9em;
}
#cart-main article:first-child label,
#cart-main article:first-child strong {
	display: inline;
}
#cart-main input[type="number"] {
	width: 3em;
	padding-left: 0.5em;
}
#cart-main .quantity {
	text-align: center;
}
#cart-main .quantity > label {
	left: 0;
	width: 100%;
}
#cart-main .remove,
#cart-main .price {
	text-align: right;
}
#cart-main .price strong {
	right: 0;
}

#cart-totals {
	padding: 0.5em 0;
	border-top: 1px solid gray;
	text-align: right;
}

#cart-bottom {
	text-align: center;
}
#cart-bottom > .buttons {
	padding-top: 2em;
	word-spacing: 10px;
	font-size: 0.8em;
	letter-spacing: 1px;
}
#cart-bottom .btn {
	width: 160px;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0;
	line-height: 2.7;
}
#cart-bottom label {
	display: block;
	font-weight: normal;
}
#cart-bottom textarea {
	width: 100%;
	margin-top: 0.4em;
	height: 9em;
}
/*
 * =======================================================
 * SEARCH
 * =======================================================
 */
#search-main > header {
	text-align: center;
}
#search-main form {
	margin-bottom: 2%;
}
#search-main label {
	width: 50%;
}
#search-main input, #search-main button {
	height: 40px;
	line-height: 40px;
}
#search-main input {
}
#search-main button {
	padding: 0 1em;
}
#search-main h1 {
	margin-bottom: 9%;
}
#search-results {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#search-results li {
	margin-bottom: 7%;
}
#search-results li:last-child {
	margin-bottom: 0;
}
#search-results article a {
	height: 100%;
}
#search-results article img {
	height: auto;
}
#search-results h2 {
	margin: 0;
}
#search-results p {
	margin: 0.5em 0 0;
}
#search-results .url {
	margin-top: 0;
}
/*
 * =======================================================
 * COLORS
 * =======================================================
 */
body {
	background-color: white;
}
#main-nav .site-nav__submenu li:hover a,
.site-nav__submenu .site-nav--active a,
#fine-print {
	color: white;
}

body,
#footer-cols > article ul a,
#main-footer h2,
.image-grid a,
.gray {
	color: #58595b;
}
svg.icon path[fill],
svg.icon circle[fill],
svg.icon rect[fill] {
	fill: #58595b;
}
svg.icon path[stroke],
svg.icon circle[stroke],
svg.icon rect[stroke] {
	stroke: #58595b;
}
#fine-print,
.gray--bg {
	background-color: #58595b;
}
#product-colors-title,
.light-gray {
	color: #b5b5b5;
}
input,
textarea,
body #main-nav,
#main-header > div:last-child,
.template-main,
#product-images img,
#cart-main article:first-child,
#cart-main img,
#cart-totals,
ul.slick-dots li button,
#product-colors li.selected,
.light-gray--border {
	border-color: #dddcdf;
}

#footer-cols main,
.btn,
a,
h1, h2,
.image-grid p,
#home-main h2,
#collection-main h2,
#home-slideshow aside p,
#product-main header span,
.strong-aqua {
	color: #0cadb6;
}
.btn[disabled] {
	color: #0cadb650;
}
#logo text {
	fill: #b4d8d4;
}
#main-footer hr,
.strong-aqua--bg {
	background-color: #08adb6;
}
#main-footer hr,
#main-footer .newsletter-prompt form,
#main-footer input[type="email"],
.image-grid img,
.strong-aqua--border {
	border-color: #08adb6;
}
#main-footer,
.light-aqua--bg {
	background-color: #b4e1e3;
}

#home-slideshow aside h3,
#main-nav li:hover > a,
.site-nav--active > a,
.yellow {
	color: #fecc0b;
}
ul.slick-dots .slick-active button,
.btn,
.yellow--bg {
	background-color: #fecc0b;
}
@media (min-width: 768px) {
	#main-nav ul ul {
		background-color: #fecc0b;
	}
}
.btn[disabled] {
	background-color: #fecc0b50;
}
body #home-slideshow aside,
body #home-main > .shopify-section,
body #collection-main > main,
body #related-products > div,
.image-grid a:hover img,
ul.slick-dots .slick-active button,
.heading-with-bar,
.yellow--border {
	border-color: #fecc0b;
}
#top-bar,
#main-nav,
.light-tan--bg {
	background-color: #ffe7a4;
}
#top-bar a {
	color: inherit;
}
#top-bar a:hover {
	color: #15aeb6;
}
.template-product #shopify-section-footer,
#related-products,
.template-product #related-products h2 {
	background-color: #fafaf2;
}

/*
 * =======================================================
 * FONTS
 * =======================================================
 */
#home-slideshow aside p,
#cart-main .title a,
h1,
.serif {
	font-family: 'AmericanTypewriterITCPro-Med',serif;
}
h2, h3, h4,
.serif--bold {
	font-family: 'AmericanTypewriterITCPro-Bold',serif;
	font-weight: normal;
	letter-spacing: 0.15em;
}
h1 {
	font-weight: normal;
}

.template-main,
#main-footer,
input,
.image-grid h3,
#home-main h2,
#collection-main h1,
#related-products h2,
#footer-cols h2 > a,
#product-main,
#cart-main,
#product-colors-title,
#logo text,
.image-grid,
.sans {
	font-family: 'FuturaBT-Book',sans-serif;
}
#cart-main strong,
#cart-main label,
#cart-totals .price,
#footer-cols h2,
#home-slideshow aside h3,
#main-nav,
.btn,
#top-bar,
.sans--bold {
	font-family: "FuturaBT-Bold", sans-serif;
}

